body{
    background-image: url(pic2.jpg);
    position: absolute;
    background-position: cover;
}
.box{
    width:700px;
    height: 350px;
    border:2px solid black;
    top: -50%;
    left: -50%;
    position: absolute;
    transform: translate(50%,50%);
    border-radius: 13px;
    background-color: white;
    opacity: .7;
    align-items: center;
}
.head {
    text-transform: uppercase;
    font-weight:900 ;
    text-align: center;
    font-size: 30px;
    background-color: black;
    opacity: 2.6;
    color: red;
}

.left img{
    width: 140px;
    height: 160px;
}
.right input{
    position: absolute;
    background: none;
    outline: none;
    border-radius: 7px;
    text-align: center;
    width: 280px;
    height: 35px;
    margin-left: 30%;
    margin-top: -160px;
    border:2px solid black;
    background-color:yellow;
    color: black;
    font-weight: 600;
    cursor: pointer;
    
}

.right input:hover{
    background-color: red;
    color: black;
    font-weight: 700;
}