body{
    background:url(pic1.png);
    margin: 0px;
    padding: 0px;
    background-size: cover;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: black;
    opacity: 0.6;
}
#navbar ul{
    display: flex;
}

#navbar ul li {
    list-style: none ;
    font-size: 1.1rem;
}
#navbar ul li a{
    color: red;
    display: block;
    padding: 3px 22px;
    border-radius: 20px ;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: #7bc7e8;
    
}